Checks: '*
         -mpi-*
         -objc-*
         -boost-*
         -abseil-*
         -altera-*
         -openmp-*
         -android-*
         -llvmlibc-*
         -google-objc-*
         -linuxkernel-*
         -fuchsia-default-arguments-*

         -cert-err58-cpp
         -llvm-header-guard
         -fuchsia-overloaded-operator
         -misc-non-private-member-variables-in-classes

         -google-explicit-constructor
         -google-build-using-namespace

         -readability-named-parameter
         -readability-identifier-length

         -performance-avoid-endl
         -performance-no-int-to-ptr

         -hicpp-no-array-decay
         -hicpp-named-parameter
         -hicpp-explicit-conversions
         -hicpp-special-member-functions

         -modernize-use-nodiscard
         -modernize-use-default-member-init
         -modernize-use-trailing-return-type

         -cppcoreguidelines-owning-memory
         -cppcoreguidelines-avoid-do-while
         -cppcoreguidelines-pro-type-union-access
         -cppcoreguidelines-special-member-functions
         -cppcoreguidelines-pro-type-reinterpret-cast
         -cppcoreguidelines-pro-type-static-cast-downcast
         -cppcoreguidelines-avoid-const-or-ref-data-members
         -cppcoreguidelines-pro-bounds-constant-array-index
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay
         -cppcoreguidelines-avoid-reference-coroutine-parameters
         -cppcoreguidelines-non-private-member-variables-in-classes'

WarningsAsErrors: '*'

HeaderFilterRegex: '^<.*\.hpp>$'

CheckOptions: # TODO(Ri7ay) Setup all options
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: '^await_(ready|suspend|resume)|get_return_object|(initial|final)_suspend|unhandled_exception|return_value|what$'
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: 'await_ready|await_suspend|await_resume'
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: 1
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: 1
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
