name: Coverage

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '**.md'

jobs:
  main:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get upgrade
          sudo apt-get install pip ninja-build gcc-10 g++-10 lcov
          sudo pip install -U gcovr

      - name: Configure CMake
        run:
          cmake -S . -B build
          -GNinja
          -DCMAKE_BUILD_TYPE=Debug
          -DCMAKE_C_COMPILER=gcc-10
          -DCMAKE_CXX_COMPILER=g++-10
          -DYACLIB_BUILD_TESTING=ON
          -DYACLIB_BUILD_EXAMPLES=ON
          -DYACLIB_COVERAGE=ON
          -DYACLIB_CXX_STANDARD=20
          -DYACLIB_DEFINITIONS=/DNDEBUG

      - name: Build
        run:
          ninja -C build

      - name: Test
        run: |
          cd build
          ctest --output-on-failure -C Debug -VV

      - name: Collect lcov info
        run: |
          cd build
          lcov --rc lcov_branch_coverage=1 -d . -c                       -o lcov_cond.info
          lcov --rc lcov_branch_coverage=1 -r lcov_cond.info '/usr/*'    -o lcov_cond.info
          lcov --rc lcov_branch_coverage=1 -r lcov_cond.info '*/_deps/*' -o lcov_cond.info
          lcov --rc lcov_branch_coverage=1 -r lcov_cond.info '*/fault/*' -o lcov_cond.info
          lcov --rc lcov_branch_coverage=1 -r lcov_cond.info '*/test/*'  -o lcov_cond.info
          lcov                             -r lcov_cond.info             -o lcov.info
          lcov --rc lcov_branch_coverage=1 --list lcov_cond.info

      - name: codecov
        uses: codecov/codecov-action@v2.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: build/lcov.info
