name: Documentation

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  # TODO(MBkkt) Use our own script instead of github action, same as in /.githooks

  main:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: mattnotmitt/doxygen-action@v1.9.4
        with:
          doxyfile-path: ./doc/doxygen/Doxyfile
          working-directory: .

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/html/
          enable_jekyll: false
          allow_empty_commit: false
          force_orphan: true
          publish_branch: gh-pages
