name: Linux

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '**.md'
  schedule:
    - cron: '0 * * * *'

jobs:
  main:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04 ]
        compilers: [ "gcc-7 g++-7 gcc-8 g++-8 gcc-9 g++-9 gcc-10 g++-10 gcc-11 g++-11",
                     "clang-8 clang++-8 clang-9 clang++-9 clang-10 clang++-10 clang-11 clang++-11 clang-12 clang++-12 clang-13 clang++-13 clang-14 clang++-14" ]
        build_type: [ Debug, RelWithDebInfo ]
    # TODO(MBkkt) Add clang-5.0 clang-6.0 clang-7 gcc-12

    steps:
      - uses: actions/checkout@v2

      - name: Update dependencies
        run: |
          sudo apt-get update
          sudo apt-get upgrade
          sudo apt-get install ninja-build

      - name: Install dependencies gcc
        if: ${{ matrix.compilers == 'gcc-7 g++-7 gcc-8 g++-8 gcc-9 g++-9 gcc-10 g++-10 gcc-11 g++-11' }}
        run: |
          sudo apt-get install ${{ matrix.compilers }}

      - name: Install dependencies clang
        if: ${{ matrix.compilers != 'gcc-7 g++-7 gcc-8 g++-8 gcc-9 g++-9 gcc-10 g++-10 gcc-11 g++-11' }}
        run: |
          sudo apt-get install clang-8
          wget https://apt.llvm.org/llvm.sh
          chmod +x ./llvm.sh
          sudo     ./llvm.sh 9  shit
          sudo     ./llvm.sh 10 shit
          sudo     ./llvm.sh 11 shit
          sudo     ./llvm.sh 12 shit
          sudo     ./llvm.sh 13 shit
          sudo     ./llvm.sh 14 shit
          rm       ./llvm.sh

      - name: Configure CMake
        run: |
          cmake --version
          compilers=(${{ matrix.compilers }})
          build_type=${{ matrix.build_type }}
          for (( i=0; i<${#compilers[*]}; i+=2 )); do
            dir="build_${build_type}_${compilers[$i]}"
            echo $dir
            cmake -S . -B $dir                          \
              -GNinja                                   \
              -DCMAKE_BUILD_TYPE=${build_type}          \
              -DCMAKE_C_COMPILER=${compilers[$i]}       \
              -DCMAKE_CXX_COMPILER=${compilers[$i + 1]} \
              -DYACLIB_BUILD_TESTING=ON                 \
              -DYACLIB_BUILD_EXAMPLES=ON                \
              -DYACLIB_CXX_STANDARD=17
            echo
          done

      - name: Build
        run: |
          compilers=(${{ matrix.compilers }})
          build_type=${{ matrix.build_type }}
          for (( i=0; i<${#compilers[*]}; i+=2 )); do
            dir="build_${build_type}_${compilers[$i]}"
            echo $dir
            ninja -C $dir
            echo
          done

      - name: Test
        run: |
          compilers=(${{ matrix.compilers }})
          build_type=${{ matrix.build_type }}
          for (( i=0; i<${#compilers[*]}; i+=2 )); do
            dir="build_${build_type}_${compilers[$i]}"
            echo $dir
            cd $dir
              ctest --output-on-failure -C ${build_type} -VV
            cd ..
            echo
          done
